.text {
  &--regular {
    font-weight: var(--font-weigth-regular);
  }

  &--medium {
    font-weight: var(--font-weigth-medium);
  }

  &--semi-bold {
    font-weight: var(--font-weigth-semi-bold);
  }

  &--bold {
    font-weight: var(--font-weigth-bold);
  }

  &--color-white {
    color: var(--color-white);
  }

  &--color-black {
    color: var(--color-black);
  }

  &--color-grey {
    color: var(--color-grey);
  }

  &--xs {
    font-size: var(--spacing-xs);
  }

  &--sm {
    font-size: var(--spacing-sm);
  }

  &--md {
    font-size: var(--spacing-md);
  }

  &--lg {
    font-size: var(--spacing-lg);
  }

  &--xl {
    font-size: var(--spacing-xl);
  }

  &--xxl {
    font-size: var(--spacing-xxl);
  }

  &--xxxl {
    font-size: var(--spacing-xxxl);
  }
}
