.base-button {
  $root: &;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-sm);
  border: var(--border-width-2x) solid transparent;
  transition: border-color 0.2s ease 0s;
  cursor: pointer;

  &:not(:disabled) {
    &:focus, &:focus-within, &:hover {
      border-color: var(--color-purple);
    }
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &__icon {
    display: flex;
    margin-left: var(--spacing-xs);
    color: var(--color-white);
  }

  &--size-md {
    height: var(--spacing-xl);
  }

  &--size-lg {
    height: var(--spacing-xxl);
  }

  &--primary {
    background: var(--color-black-100);
  }

  &--secondary {
    background: var(--color-white);

    #{$root}__icon {
      color: var(--color-black-100);
    }
  }
}
