.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  max-width: unset;
  gap: var(--spacing-xs);
  padding: var(--dynamic-padding-space);

  &__title {
    margin-top: var(--spacing-md);
  }

  &__status {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
  }
}
