:root {
    --font-family: 'JetBrains Mono', monospace;
    --font-weigth-regular: 400;
    --font-weigth-medium: 500;
    --font-weigth-semi-bold: 600;
    --font-weigth-bold: 700;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --line-height-sm: 1.5;
    --line-height-md: 1.6;
    --line-height-lg: 1.8;

    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 12px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 48px;
    --spacing-xxxl: 64px;

    --icon-size-sm: 16px;
    --icon-size-md: 24px;
    --icon-size-lg: 32px;

    --border-width: 1px;
    --border-radius-xs: 4px;
    --border-radius-sm: 6px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;

    --box-shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-md: 0 4px 8px rgba(0, 0, 0, 0.2);
    --box-shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.3);
    --box-shadow-primary: 0 0 1px 2px #666D8014;

    --color-black: rgba(13, 13, 18, 1);
    --color-white: rgb(255, 255, 255);
    --color-grey: rgb(246, 248, 250, 100);
    --color-grey-100: rgb(236, 239, 243, 100);
    --color-grey-200: rgba(164, 171, 184, 1);
    --color-grey-300: rgb(128, 136, 151);
    --color-grey-400: rgb(102, 109, 128);
    --color-grey-500: rgb(53, 56, 73);
    --color-success-100: rgba(208, 250, 223, 1);
    --color-success-200: rgba(40, 199, 128, 1);
    --color-success-300: rgb(3, 151, 84);
}

@media screen and (max-width: 767px) {
    :root {
        --container-max-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    :root {
        --container-max-width: 960px;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --container-max-width: 1200px;
    }
}
