.base-container {
  display: flex;
  flex-direction: column;
  height: min-content;
  justify-content: flex-start;
  max-width: var(--container-max-width);
  border-radius: var(--border-radius-xl);

  &--primary {
    background: var(--color-black-500)
  }

  &--secondary {
    background: var(--color-grey-100)
  }
}
