.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: calc(var(--spacing-xxxl) * 3);
  height: calc(var(--spacing-xxxl) * 3);
  border-radius: 100%;
  background-color: var(--color-white);
  box-shadow: 0 0 0 var(--spacing-xxs) var(--color-purple);

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  &__fallback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
  }
}
